.sidebar {
  background: #d3d3d3;
  padding-top: 16px;
  padding-bottom: 16px;

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-link {
    margin: 5px 15px;
    opacity: 0.86;
    border-radius: 4px;
    position: relative;
    display: block;
    padding: 10px 15px;

    &.active {
      background: #c2c2c2;
    }
  }
}
